@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Roboto:wght@100..900&display=swap');
* {
    font-family: "Caesar Dressing", serif;
    color: azure;
    background-color: rgb(27, 26, 26);
    font-weight: 400;
    font-style: normal;
}